body {
  background: #daf7f6;
  color: #3b3b3b;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

header {
  background: #ffffff;
  text-align: center;
}

h1 {
  color: #f16059;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin: 0;
  padding: 40px 0;
  text-transform: uppercase;
}

header img {
  /* create space between the image and h1 text */
  margin-right: 16px;
}

main {
  /* center the content with margin property */
  margin: 0 auto;
  width: 1000px;
}

.card {
  margin: 25px 0;
  overflow: auto;
}

.image {
  float: left;
  height: 550px;
  width: 500px;
}

div.recipe {
  background: white;
  box-sizing: border-box;
  float: left;
  height: 550px;
  padding: 20px;
  width: 500px;
}

#cookies .image {
  background-image: url("../img/gluten-free-sugar-cookies.jpg");
  background-size: cover;
}

#pesto .image {
  background-image: url("../img/nut-free-pesto.jpg");
  background-size: cover;
}

#salad .image {
  background-image: url("../img/watermelon-salad.jpg");
  background-size: cover;
}

div.recipe h2 {
  color: #f16059;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 35px;
  text-transform: uppercase;
}

div.time {
  border: 1px solid #3b3b3b;
  margin-bottom: 20px;
  overflow: auto;
}

div.time div {
  border: 1px solid #3b3b3b;
  box-sizing: border-box;
  float: left;
  padding-left: 6px;
  text-transform: uppercase;
  width: 33.3333%;
}

.time img {
  height: auto;
  margin-right: 1px;
  vertical-align: middle;
  width: 15px;
}

.time-details {
  display: inline-block;
}

div.time strong {
  font-family: "Montserrat", sans-serif;
}

.columns {
  overflow: auto;
}

.directions {
  float: left;
  width: 240px;
}

.ingredients {
  float: left;
  margin-right: 10px;
  width: 205px;
}

div.recipe h3 {
  border-top: 1px solid #3b3b3b;
  border-bottom: 1px solid #3b3b3b;
  color: #f16059;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  text-transform: uppercase;
}

.ingredients ul {
  line-height: 22px;
  list-style-type: square;
  padding-left: 17px;
}

.directions ol {
  line-height: 22px;
  padding-left: 17px;
}
